.PizzaSelected {
  padding: 0 30px 30px;
  border-bottom: 1px solid #b8c8d0;
}

.PizzaSelected-empty {
  font-style: italic;
}

.PizzaSelected-list {
  border: 1px solid #b8c8d0;
}

.PizzaSelected-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #b8c8d0;
  position: relative;
  padding: 10px;
}

.PizzaSelected-item:last-child {
  border-bottom: 0;
}

.PizzaSelected-item>img {
  width: 18px;
  margin: 0 8px 0 0;
}

.PizzaSelected-item button {
  margin-left: auto;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: #d73a49;
  width: 22px;
}

.PizzaSelected-item button img {
  width: 18px;
}
